<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card *ngFor="let movie of movies">
      <img src={{movie.Poster}} height="350" width="250">
      <ion-card-header>
        <ion-card-title>{{movie.Title}}</ion-card-title>
        <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <!-- <ul>
    <li *ngFor="let movie of movies">
      {{movie.Title}}
      <p>{{movie.Year}}</p>
      <img src={{movie.Poster}} height="230" width="230">
    </li>
    </ul> -->
  </div>
</ion-content>
